<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<main class="main-content slide-left" id="main-content" role="main">
    <section class="dialog auth-dialog">
        <div class="dialog-content">
            <form action="needs-validation" th:action="@{/password-issue}" method="post" name="loginForm" novalidate>
                <h1 style="font-weight: bold;">비밀번호 재설정</h1>
                <p style="font-weight: bold;">가입하신 이메일 주소로 비밀번호 재설정 메일을 보내드립니다.</p>
                <div class="form-group mb-2">
                    <input type="email" name="email" id="email" class="form-control" placeholder="이메일" autofocus="">
                    <div class="invalid-feedback">필수 사항입니다.</div>
                    <small hidden="true" id="email_help_text" class="form-text text-muted" style="font-weight: bold;">
                        가입 시 사용하신 이메일을 입력하세요.
                    </small>
                </div>
                <div class="btn-wrapper">
                    <button type="submit" class="btn btn-primary btn-block btn-loading" style="font-weight: bold;">이메일 보내기</button>
                </div>

            </form>
        </div>
    </section>
</main>

</html>

