<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout" th:with="activeTab='None'">


<div layout:fragment="content">
    <body>
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h2 style="font-weight: bold;">비밀번호 재설정</h2>
                <p class="lead" style="font-weight: bold;">새로운 비밀번호를 입력하세요.</p>
            </div>

            <div class="row justify-content-center">
                <div th:if="${!result}" class="alert alert-danger" role="alert">
                    <p style="font-weight: bold;">유효하지 않은 링크입니다.</p>
                    <p>
                        <a href="#" th:href="@{/}" style="font-weight: bold;">다시 시도</a>
                    </p>
                </div>
            </div>

            <div class="row g-10 justify-content-center" th:if="${result}">

                <form class="needs-validation" action="#" method="post" name="resetPwForm" id="resetPwForm" novalidate>
                    <input type="hidden" name="email" th:value="${email}"/>
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="newPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" name="newPassword" id="newPassword" aria-describedby="password_help_text" required><br>
                            <span class="error_next_box" id="pwMsg" style="color: red;"></span>
                            <div class="invalid-feedback">필수 사항입니다.</div>
                        </div>
                    </div>
                    <hr class="col-12 my-4">
                    <button class="w-50 btn btn-dark btn-lg" type="button" name="resetBtn" id="resetBtn" style="font-weight: bold;">변경</button>
                </form>
            </div>

        </main>
        <footer class="my-5 pt-5">

        </footer>
    </div>


<script>
    $( document ).ready(function() {

        const getPwCheck= RegExp(/([a-zA-Z0-9].*[!,@,#,$,%,^,&,*,?,_,~])|([!,@,#,$,%,^,&,*,?,_,~].*[a-zA-Z0-9])/);
        let chk1=false;

        $('#newPassword').on('keyup', function(){
                //비밀번호 공백 확인
                if($('#newPassword').val() === ""){
                    $('#newPassword').html('<b>비밀번호는 필수 정보입니다.</b>');
                    chk1=false;
                }
                //비밀번호 유효성 검사
                else if(!getPwCheck.test($("#newPassword").val()) || $("#newPassword").val().length < 8){
                    $('#pwMsg').html('<b>특수문자 포함 8자 이상 입력하세요</b>');
                    chk1=false;
                } else{
                    $('#pwMsg').html('');
                    chk1=true;
                }
            });

        $("#resetBtn").click(function(){
            var form = $('#resetPwForm')[0];
            var formData=new FormData(form);

            if(chk1 == false){
                alert('비밀번호를 확인하세요.');
            } else{
                $.ajax({
                    url: '/reset-password',
                    type: 'post',
                    async: false,
                    data: formData,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function(result) {
                        if(result === 'resetSuccess'){
                            alert('비밀번호를 변경하였습니다.');
                            location.href="/logout";
                        }
                        else{
                            alert('에러');
                            location.href="/logout";
                        }
                    }
                });
            }


        });
    });

    </script>
</body>
</div>

</html>